<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyConfigurator.Properties.Settings>
            <setting name="ConfigPath" serializeAs="String">
                <value>c:\temp\fmri_kave</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>fmri_customized.xlsm</value>
            </setting>
            <setting name="uintTimeoutMsecMessageBox" serializeAs="String">
                <value>1234</value>
            </setting>
        </MyConfigurator.Properties.Settings>
    </applicationSettings>
</configuration>