<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsConfigurator.Properties.Settings>
            <setting name="SettingOne" serializeAs="String">
                <value>c:\temp\trashbar.xlsx</value>
            </setting>
            <setting name="myColor" serializeAs="String">
                <value>Blue</value>
            </setting>
        </WindowsFormsConfigurator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WindowsFormsConfigurator.Properties.Settings>
            <setting name="SomeWidth" serializeAs="String">
                <value>11</value>
            </setting>
        </WindowsFormsConfigurator.Properties.Settings>
    </applicationSettings>
</configuration>